*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  /* background: rgb(255, 173, 65); */
  background-color: rgb(243, 209, 180);
}

.todo-container {
  background: rgb(2, 11, 41);
  /* width: 40vw; */
  max-width: 760px;
  height: 100vh;
  margin: 0em auto;
  /* border-radius: 15px; */
  padding: 20px 10px;
  color: white;
  border: 3px solid rgb(36, 110, 194);
}

.task {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.7em;
  margin-top: 0.5em;
}

.task:hover{
  background: rgb(1, 16, 66);
}

.task button{
  background: rgb(3, 139, 33);
  border-radius: 5px;
  margin: 0px 5px;
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  color: white;
  /* float: right; */
}

.header {
  margin: 0.5em;
  font-size: 2em;
  text-align: center;
}

form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2.5em 2em; 
}

form button{
  background-color: rgb(36, 110, 194);
  border: none;
  border-radius: 12px;
  color: aliceblue;
  padding: 3px 16px;
  margin-left: 3px;
}

.create-task input[type=text] {
  /* margin: 2.5em 2em; */
  /* width: 80%; */
  outline: none;
  border: none;
  padding: 0.7em;
}
